<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<style>
</style>
<body style="background-color:#F7F7F7">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(106, 90, 205)">
        <div class="container">
            <a class="navbar-brand" href="#"><h5>Movies</h5></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><h5>Home</h5></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><h5>TV Drama</h5></a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link active dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action Movie</a></li>
                            <li><a class="dropdown-item" href="#">Chines Drama</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Hollywood</a></li>
                        </ul>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>*@
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
