@model Movie.Models.Movief

<h4>Movie</h4>
<hr />
<div class="modal-dialog">
    <div class="modal-content">
        <form asp-action="Create">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="moviemodallabel">New Movie</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Duration" class="control-label"></label>
                    <input asp-for="Duration" class="form-control" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubTitle" class="control-label"></label>
                    <input asp-for="SubTitle" class="form-control" />
                    <span asp-validation-for="SubTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReleseDate" class="control-label"></label>
                    <input asp-for="ReleseDate" class="form-control" />
                    <span asp-validation-for="ReleseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Language" class="control-label"></label>
                    <input asp-for="Language" class="form-control" />
                    <span asp-validation-for="Language" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Genre_RefID" class="control-label"></label>
                    <select asp-for="Genre_RefID" class="form-control" asp-items="ViewBag.Genre_RefID"></select>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    @*<input type="submit" value="Create" class="btn btn-primary" />*@
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" value="Create" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

