
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <section>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="d-block w-100">
                        <img src="~/img/4516053.jpg" alt="..." style="width:100%;height: 400px;">
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="d-block w-100">
                        <img src="~/img/chris-meads-Uy9Bh-kmt3s-unsplash.jpg" alt="..." style="width:100%;height: 400px;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <img src="~/img/381596.jpg" alt="..." style="width:100%;height: 400px;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <img src="~/img/chris-meads-Uy9Bh-kmt3s-unsplash.jpg" alt="..." style="width:100%;height: 400px;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <img src="~/img/david-rodrigo-LO14F1Yj0j0-unsplash.jpg" alt="..." style="width:100%;height: 400px;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <img src="~/img/giuseppe-murabito-My1oqpgAf8s-unsplash.jpg" alt="..." style="width:100%;height: 400px;">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</div>


